#game-board {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-top: 40px;
    /* align-items: center;
    text-align: center; */

}



#game-board button {
    height: 100px;
    width: 100px;
    margin: 10px;
    cursor: pointer;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: sans-serif;
    color: rgba(188, 188, 188, 0.764);
}