#game-over{
height: 550px;
width: 700px;
background-color: rgba(0, 0, 0, 0.863);
display: flex;
justify-content: center;
align-items: center;
color: rgb(255, 255, 255);
text-align: center;
gap: 30px;
flex-direction: column;
position: absolute;
font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 50px;
    color: #bb7300;
}
p{
    font-size: 23px;
    font-weight: bold;
}
#game-over button{
    font-size: 19px;
   background: transparent;
   color: rgb(255, 255, 255);
   border: 3px solid #bb7300;
   font-weight: bold;
   
}
button:hover{

    transform: scale(1.06);

}