*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(172, 144, 3);
  font-family: Arial, Helvetica, sans-serif;
}
#game-container{
height: 550px;
width: 700px;
background-color: black;
display: flex;
justify-content: center;
flex-direction: column;
}
#players{
gap:4rem;
font-weight: 600;
margin-top: 0px;
display: flex;
justify-content: center;
align-items: center;

}
ol{
  list-style: none;
  font-size: 17px;
  margin: 0px;

  
}
